.wrap{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap__content{
    display: flex;
    justify-content: center;
}
.content{
    border-radius: 10px;
    box-shadow: 0px 20px 37px -1px rgba(87, 97, 88, 0.2);
    width:480px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
}
.content__title{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.content__button{
    display: flex;
    justify-content: center;
    margin: 2% 0;
}
